<div class="container">
	<div class="row">
		<h5 class="margin-top">
			Photography is a special and precious pastime. I love helping people express themselves to create timeless photos that capture life’s beauty, spontenaety, and joy.
		</h5>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-12 images" routerLink="/photography/weddings">
			<img class="img-fluid" src="/assets/weddings/wedding-7.jpg">
			<p class="text-center mt-3">weddings</p>
		</div>
		<div class="col-md-4 col-sm-12 images" routerLink="/photography/family">
			<img class="img-fluid" src="/assets/couples/youth christmas 2019-1.jpg">
			<p class="text-center mt-3">couples - family</p>
		</div>
		<div class="col-md-4 col-sm-12 images" routerLink="/photography/portraits">
			<img class="img-fluid" src="/assets/portraits/portraitbridal-1.jpg">
			<p class="text-center mt-3">portraits</p>
		</div>
	</div>
</div>
