<div class="about">
	<div class="jumbotron jumbotron-fluid">
	</div>
	<div class="container">
		<p class="header">Have some great ideas? Want to collaborate or know more about my projects? Fill out the form below and let's connect!</p>
		<form action="https://formspree.io/sethtaylorblack@gmail.com" method="POST">
			<label for="name">NAME</label>
			<input type="text" id="name" name="name" class="full-width" /><br />
			<label for="email">EMAIL ADDRESS</label>
			<input type="email" id="email" name="_replyto" class="full-width" /><br />
			<label for="message">MESSAGE</label>
			<textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br />
			<input type="submit" value="SEND" class="button" />
		</form>
	</div>
</div>
