.center {
	margin-left: auto;
	margin-right: auto;
}

.login {
	margin-top: 20vh;
	letter-spacing: normal;
	label {
		margin-right: 5px;
	}
}

.container {
	margin-top: 5vh;
	letter-spacing: normal;
}
