<div class="container">
	<div class="row">
		<h5 class="margin-top">
			Design is where my heart is. Creating things that communicate your brand makes my creative excitement come alive! From logo design to marketing materials, I’ve never met a challenge I didn’t enjoy.
		</h5>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-3 col-sm-12 images" routerLink="/design/branding">
			<img class="rounded mx-auto d-block" src="/assets/logos/Logo - Teena Moore.jpg">
			<p class="text-center mt-3">logo + branding</p>
		</div>
		<div class="col-md-3 col-sm-12 images" routerLink="/design/prints">
			<img class="rounded mx-auto d-block" src="/assets/logos/Wedding 3.jpg">
			<p class="text-center mt-3">invites + cards</p>
		</div>
	</div>
</div>
