<div class="about">
	<div class="jumbotron jumbotron-fluid">
	</div>
	<div class="container">
		<div class="row">
			<h1 class="text-center">MEET TRISTEN</h1>
		</div>
		<div class="row">
			<p>hello!</p>
			<p class="spacing">However you found your way here, welcome! I’m Tristen, and this is where I chronicle my adventures in creativity and every day life. If we haven’t met, here’s a bit about me: I’m a redhead, dog lover, and proud Okie. I’m also a Tulsa transplant from the 405 who has come to love my city fiercely over the past 7 years. I enjoy meeting new people, DIY projects, painting, and watching Netflix. You can usually find me buried in education advocacy work, reading a good book, or organizing projects.</p>
		</div>
	</div>
</div>
