.jumbotron {
	background-image: url('/assets/About Section Image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vh;
}

.spacing {
	letter-spacing: 1.5px;
}

.row {
	padding: 40px;
}
